.editor-view {
  width: 600px;
  padding: 15px;
}

.spaced {
  padding: 15px;
}

.centered {
  width: 100%;
}

.centered,
.horizontal-flex {
  display: flex;
  justify-content: center;
}

.horizontal-flex {
  margin-left: 10px;
  margin-right: 10px;
}

.table-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
