<div class="centered">
  <div class="editor-view">
    <mat-accordion class="spaced">
      <ng-container *ngFor="let dt of json.layout.damageTypes; let i = index">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="table-text">
                {{ dt.name }}
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="horizontal-flex" *ngIf="dt.splash">
                <mat-icon>add</mat-icon>
                <div class="table-text">
                  Splash {{ dt.splashDamagePercentage }}% {{ dt.splashRadius }}R
                </div>
              </div>

              <div class="horizontal-flex" *ngIf="dt.slow">
                <mat-icon>add</mat-icon>
                <div class="table-text">
                  Slow {{ dt.slowPercentage }}% {{ dt.slowDuration }} Ticks
                </div>
              </div>

              <div class="right-align">
                <ng-container *ngFor="let debuff of json.layout.debuffs">
                  <mat-icon
                    [style.color]="debuff.color"
                    [style.background-color]="color.textColor(debuff.color)"
                    *ngIf="appliesDebuff(debuff, dt)"
                    class="rounded"
                  >
                    bookmark
                  </mat-icon>
                </ng-container>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <mat-label>Damage Type Name</mat-label>
            <input matInput [(ngModel)]="dt.name" />
          </mat-form-field>

          <br />
          <mat-slide-toggle [(ngModel)]="dt.splash">Splash</mat-slide-toggle>
          <ng-container *ngIf="dt.splash">
            <mat-form-field class="spaced">
              <mat-label>Splash Damage %</mat-label>
              <input matInput [(ngModel)]="dt.splashDamagePercentage" />
            </mat-form-field>
            <mat-form-field class="spaced">
              <mat-label>Splash Radius</mat-label>
              <input matInput [(ngModel)]="dt.splashRadius" />
            </mat-form-field>
          </ng-container>

          <br />
          <mat-slide-toggle [(ngModel)]="dt.slow">Slow</mat-slide-toggle>
          <ng-container *ngIf="dt.slow">
            <mat-form-field class="spaced">
              <mat-label>Slow %</mat-label>
              <input matInput [(ngModel)]="dt.slowPercentage" />
            </mat-form-field>
            <mat-form-field class="spaced">
              <mat-label>Slow Duration</mat-label>
              <input matInput [(ngModel)]="dt.slowDuration" />
            </mat-form-field>
          </ng-container>
          <br />

          <!-- Debuffs applied -->
          <button mat-button [matMenuTriggerFor]="menu">Applies Debuff</button>
          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let debuff of json.layout.debuffs">
              <button
                [style.color]="color.textColor(debuff.color)"
                [style.background-color]="debuff.color"
                mat-menu-item
                *ngIf="!appliesDebuff(debuff, dt)"
                (click)="applyDebuff(debuff, dt)"
              >
                {{ debuff.name }}
              </button>
            </ng-container>
          </mat-menu>

          <mat-chip-list>
            <ng-container *ngFor="let debuff of json.layout.debuffs">
              <mat-chip
                (click)="deleteDebuff(debuff, dt)"
                [style.color]="color.textColor(debuff.color)"
                [style.background-color]="debuff.color"
                *ngIf="appliesDebuff(debuff, dt)"
                >{{ debuff.name }}</mat-chip
              >
            </ng-container>
          </mat-chip-list>
          <!-- End Debuffs applied -->

          <mat-action-row>
            <button
              mat-mini-fab
              matTooltip="Delete Damage Type"
              color="warn"
              (click)="delete(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

    <div class="centered">
      <button
        mat-fab
        color="primary"
        matTooltip="Add Damage Type"
        (click)="addDamageType()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
